<div class="row">
  <div class="column-6">
    <h1>Termine</h1>
  </div>
  <div class="column-6">
    <div class="row">
      <div class="column-8">
        <p class="float-right" style="font-size:24pt;"><%= @date %></p>
      </div>
      <div class="column-2">
        <div class="btn-group float-right">
          <%= link_to '<button class="btn btn-icon"><i class="material-icons">chevron_left</i></button>'.html_safe, {date: @previousday} %>
          <%= link_to '<button class="btn btn-icon"><i class="material-icons">chevron_right</i></button>'.html_safe, {date: @nextday} %>
        </div>
      </div>
      <div class="column-1">
        <%= link_to '<button class="btn btn-icon"><i class="material-icons">add</i></button>'.html_safe, "/patients/new" %>
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Wunschtermin</th>
    <th>Patient</th>
    <th>Klassifikation</th>
    <th>Notiz</th>
    <th>Aktuelle Wartedauer</th>
    <th>Aktionen</th>
  </tr>
  </thead>
  <tbody class="sortable">
  <% @appointmentsScheduled.each do |appointment| %>
    <tr id="<%= appointment.id %>">
      <td><%= appointment.status %> </td>
      <td><%= appointment.datetime.strftime("%H:%M") %> </td>
      <td><%= appointment.patient.name %> </td>
      <td><%= appointment.classification %> </td>
      <td><%= appointment.remarks %> </td>
      <td><%= appointment.estimatedWaitingTime %> </td>
      <td></td>
    </tr>

  <% end %>

  </tbody>
</table>

<h1>Angefragte Termine (Warteliste)</h1>


<% if @freeAppointmentsAvailable %>
  <span>Gibt noch genug freie Slots heute</span>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Status</th>
      <th>Wunschtermin</th>
      <th>Patient</th>
      <th>Klassifikation</th>
      <th>Notiz</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <% @appointmentsWaitingList.each do |appointment| %>
      <tr>
        <td><%= appointment.status %> </td>
        <td><%= appointment.datetime.strftime("%H:%M") %> </td>
        <td><%= appointment.patient.name %> </td>
        <td><%= appointment.classification %> </td>
        <td><%= appointment.remarks %> </td>
        <td></td>
      </tr>

    <% end %>

    </tbody>
  </table>
<% end %>

<%= javascript_pack_tag 'line_admin' %>