<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @appointment.datetime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.appointmentstatus %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @appointment.classification %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @appointment.remarks %>
</p>

<p>
  <strong>Sortorder:</strong>
  <%= @appointment.sortOrder %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
